---
// const { path } = Astro.props;
const path = Astro.url.pathname;
---

<nav id="nav">
  <ul class="links">
    <li class={path === "/" ? "active" : ""}><a href="/">Home</a></li>
    <li class={path === "/about" ? "active" : ""}>
      <a href="/about">About</a>
    </li>
    <li class={path === "/contact" ? "active" : ""}>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
